<ion-content [fullscreen]="true" (ionViewWillEnter)="fetchUserData()">
  <form [formGroup]="applyForm" (ngSubmit)="unosProfila()">
    <img src="assets/title image.png" alt="title image" class="title-img">

    <h1>Moji podaci</h1>

    <label for="ime">Ime:</label>
    <input type="text" id="ime" formControlName="ime">
    <label for="prezime">Prezime:</label>
    <input type="text" id="prezime" formControlName="prezime">

    <p>Datum rođenja: </p>

    <div class="birthday-container">

      <div class="birthday">
        <label for="godina">Godina:</label>
        <input type="number" id="godina" formControlName="godina">
        </div>
    
        <div class="birthday">
        <label for="mjesec">Mjesec:</label>
        <input type="number" id="mjesec" formControlName="mjesec">
        </div>
    
        <div class="birthday">
        <label for="dan">Dan:</label>
        <input type="number" id="dan" formControlName="dan">
      </div>

    </div>
   
    <label for="Mobitel">Mobitel:</label>
    <input type="text" id="mobitel" formControlName="mobitel">

    <label for="E-mail">E-mail:</label>
    <input type="text" id="email" formControlName="email">

    <label for="adresa">Adresa:</label>
    <input type="text" id="adresa" formControlName="adresa">

    <label for="odjeća">Veličina odjeće:</label>
    <input type="text" id="odjeća" formControlName="odjeća">

    <label for="obuća">Veličina obuće:</label>
    <input type="text" id="obuća" formControlName="obuća">

    <br>
    
    <button type="submit">Potvrda podataka</button>

  </form>

  <div *ngIf="formSubmitted && !errorMessage" class="formSend sucess">Podaci su uspješno poslani!</div>

  <div *ngIf="errorMessage" class="formSend error">{{ errorMessage }}</div>

  <div class="space"></div>

  
  <nav>
    <a (click)="navHours()" [ngClass]="{'active-nav': currentPage === 'hours'}">
      <img src="assets/hours_icon.png" alt="hours icon">
    </a>
    <a (click)="navProfil()" [ngClass]="{'active-nav': currentPage === 'profil'}">
      <img src="assets/profil_icon.png" alt="profil icon">
    </a>
    <a (click)="navOdjava()" [ngClass]="{'active-nav': currentPage === 'odjava'}">
      <img src="assets/odjava_icon.png" alt="odjava icon">
    </a>
    </nav>

</ion-content>
