<ion-content [fullscreen]="true" (ionViewWillEnter)="fetchUserData()">
  <form [formGroup]="applyForm" (ngSubmit)="unosProfila()">
    <img src="assets/logo.jpg" alt="logo">

    <h1>Moji podaci</h1>

    <label for="ime">Ime:</label>
    <input type="text" id="ime" formControlName="ime">

    <label for="prezime">Prezime:</label>
    <input type="text" id="prezime" formControlName="prezime">

    <label for="Mobitel">Mobitel:</label>
    <input type="text" id="mobitel" formControlName="mobitel">

    <label for="E-mail">E-mail:</label>
    <input type="text" id="email" formControlName="email">

    <label for="adresa">Adresa:</label>
    <input type="text" id="adresa" formControlName="adresa">

    <label for="odjeća">Veličina odjeće:</label>
    <input type="text" id="odjeća" formControlName="odjeća">

    <label for="obuća">Veličina obuće:</label>
    <input type="text" id="obuća" formControlName="obuća">

    <br>
    
    <button type="submit">Potvrda podataka</button>

  </form>

  <div *ngIf="formSubmitted && !errorMessage" class="formSend">Podaci su uspješno poslani!</div>

  <div *ngIf="errorMessage" class="formSend">{{ errorMessage }}</div>
  
  <nav>
    <a (click)="navHours()" [ngClass]="{'active-nav': currentPage === 'hours'}">
      <img src="assets/hours_icon.png" alt="hours icon">
    </a>
    <a (click)="navProfil()" [ngClass]="{'active-nav': currentPage === 'profil'}">
      <img src="assets/profil_icon.png" alt="profil icon">
    </a>
    <a (click)="navOdjava()" [ngClass]="{'active-nav': currentPage === 'odjava'}">
      <img src="assets/odjava_icon.png" alt="odjava icon">
    </a>
    </nav>

</ion-content>
