  .toogle input[type=checkbox]{
      display: none;
  }
  
   .toogle label {
      background-image: url("/assets/sun.png");
      background-position: center;
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: 2px solid rgb(16, 0, 0);
      border-radius: 50px;
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: all ease-in-out 0.3s;
      width: 25vmin;
      height: 6vmin;
      margin: 1rem;
  }
  
  .toogle label::after {
      background-color: rgb(0, 0, 0);
      border-radius: 50%;
      content: ' ';
      cursor: pointer;
      display: inline-block;
      position: absolute;
      left: -2px;
      top: -2px;
      transition: all ease-in-out 0.3s;
      width: 25%;
      height: 6vmin;
  }
  
   .toogle input[type=checkbox]:checked + label {
      background-image: url("/assets/moon.png");
      background-position: center;
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: 50% 100%;
      border-color: rgb(255, 255, 255);
  }
  
  .toogle input[type=checkbox]:checked + label::after{
     background-color: rgb(255, 255, 255);
     transform: translateX(19vmin);
  }
