ion-content {
    --background: #fff;
     font-family: 'Poppins', sans-serif;
     line-height: 1.42857143;
}

form,
.week-container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    padding-left: 1rem;
}

.week-container {
    padding-left: 0;
    font-size: 0.875rem;
    line-height: 1.42857143;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 3em;
    padding: 0 0.5rem;
}

h1 {
    font-size: 1.875rem;
}

.week-container a {
    color: #337ab7;
    text-decoration: none;
}

p {
    font-size: 0.875rem;
    margin: 0.2rem;
}

select,
input,
ion-input {
    width: 97%;
    background-color: #fff;
    color: #555;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-radius: 5px;
    padding: 0.3rem;
}

.sc-ion-label-md-s >p {
    color: var(--ion-color-step-600, var(--ion-text-color-step-400, black));
    font-size: 1.2rem;
}

#date {
    display: none;
}

button, .formSend {
    background-color: #4048c5;
    color: #fff;
    width: 103%;
    padding: 1.2em 0;
    margin: 2em 0;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    right: 1rem;
}

nav {
    width: 100%;
    background-color: #4048c5;
    color: #ffff;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

nav a {
    font-size: 0.875rem;
    color: #fff;
    margin: 1rem 0;
}
