<ion-content [fullscreen]="true">
  <form [formGroup]="applyForm" (ngSubmit)="unosForme()">
    <img src="assets/logo.jpg" alt="logo">

    <h1>Unos radnog vremena</h1>

    <p>Lokacija posla:</p>
    <select name="location" id="location" formControlName="lokacija">
      <option value="1">AQUAT. - Berliner Quartier</option>
      <option value="2">Neubert -  Steinerstr. 20</option>
      <option value="3">AQUAT. - Unterschleißheim</option>
      <option value="4">VOIT - Landshut</option>
      <option value="5">VOIT - Bad Aibling</option>
      <option value="6">VOIT - Hepberg</option>
      <option value="7">VOIT - JUSTIZ</option>
      <option value="8">VOIT - BAYERNKASERNER</option>
      <option value="9">VOIT - BURGHAUSEN</option>
      <option value="10">HRVATSKA</option>
    </select>

    <ion-item>
      <ion-label position="stacked"><p>Datum:</p></ion-label>
      <ion-input id="date" [value]="formattedDate" readonly formControlName="datum"></ion-input>
      <ion-popover trigger="date">
        <ng-template>
          <ion-datetime 
            presentation="date" 
            locale="hr-HR" 
            [firstDayOfWeek]="1" 
            [highlightedDates]="highlightedDates"
            (ionChange)="onDateChange($event)">
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <p>Početak rada:</p>
    <select name="hour-start" id="hour-start" formControlName="početakSat">
      <option value="">-------</option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
    </select>
    
    <select name="minute-start" id="minute-start" formControlName="početakMinute">
     <option value="">-------</option>
     <option value="0">0</option>
     <option value="5">5</option>
     <option value="10">10</option>
     <option value="15">15</option>
     <option value="20">20</option>
     <option value="25">25</option>
     <option value="30">30</option>
     <option value="35">35</option>
     <option value="40">40</option>
     <option value="45">45</option>
     <option value="50">50</option>
     <option value="55">55</option>
    </select>

    <p>Kraj rada:</p>
    <select name="hour-end" id="hour-end" formControlName="krajSat">
      <option value="">-------</option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
    </select>
  
    <select name="minute-end" id="minute-end" formControlName="krajMinute">
     <option value="">-------</option>
     <option value="0">0</option>
     <option value="5">5</option>
     <option value="10">10</option>
     <option value="15">15</option>
     <option value="20">20</option>
     <option value="25">25</option>
     <option value="30">30</option>
     <option value="35">35</option>
     <option value="40">40</option>
     <option value="45">45</option>
     <option value="50">50</option>
     <option value="55">55</option>
    </select>

    <p>Komentar:</p>
    <textarea name="komentar" id="komentar" formControlName="komentar"></textarea>
  
    <button type="submit">Potvrda i slanje</button>
    
  </form>

  <nav>
  <a (click)="navForm()" [ngClass]="{'active-link': activeLink === 'navForm'}">Unos radnog vremena</a>
  <a (click)="navProfil()" [ngClass]="{'active-link': activeLink === 'navProfil'}">Moj profil</a>
  <a (click)="navOdjava()" [ngClass]="{'active-link': activeLink === 'navOdjava'}">Odjava iz sustava</a>
  </nav>
  
</ion-content>

